/* styles.css */

.background {
    -fx-background-color: #552d62; /* Tmavší pozadí pro lepší kontrast */
    -fx-padding: 10;
}

.knob-container {
    -fx-background-color: transparent; /* Odstranění pozadí kontejneru pro knoby */
    -fx-padding: 15;
    -fx-border-width: 0; /* Bez rámečku */
    -fx-background-radius: 0; /* Bez zaoblení rohů */
    -fx-hgap: 20; /* Vodorovný prostor mezi knoby */
    -fx-alignment: center; /* Zarovnat knoby na střed */
}

.oscilloscope {
    -fx-border-color: #555555; /* Rámeček osciloskopu */
    -fx-border-width: 2;
    -fx-background-color: #FFFFFF; /* Pozadí osciloskopu */
}

.text {
    -fx-fill: #d0d0d0; /* Barva textu */
    -fx-font-size: 14px;
}

.wave-button {
    -fx-background-color: #b27fc5; /* Barva pozadí tlačítek pro výběr vlny */
    -fx-text-fill: #181818; /* Barva textu  */
    -fx-font-size: 14px;
    -fx-padding: 10px 20px; /* Vnitřní okraje */
    -fx-background-radius: 5; /* Zaoblení rohů */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1); /* Stín */
}

.start-button {
    -fx-background-color: #da98d9; /* Barva pozadí tlačítka Start/Stop */
    -fx-text-fill: #FFFFFF; /* Barva textu - bílá pro dobrou čitelnost */
    -fx-font-size: 16px;
    -fx-padding: 8 16; /* Vnitřní okraje */
    -fx-background-radius: 5; /* Zaoblení rohů */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1); /* Stín */
}

/* Barva textu pod knoby */
.knob-text {
    -fx-fill: #FFFFFF; /* Bílý text pro dobrou čitelnost */
    -fx-font-size: 12px;
}
